body {
	background-image: url(/images/Webp.net-resizeimageglobe25.jpg);
	background-size:cover;
	font-weight: 50px;
	font-family: "Arial Black", serif;
	color: white;
	
}
ul{
	list-style:none;
	text-decoration:none;
}
ul li a{
	text-decoration:none;
	color:#52545e;
}
.button1 {
	height:75px;
	width:90px;
    background-color: #e7e7e7;  /* Gray */
    border: none;
    border-radius: 50%;
    padding: 15px 32px;
    text-align: center;
    display: flex;
    font-size: 16px;
    flex-direction: center;
	justify-content: space-around;
	list-style:none;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button1:hover {
	background-color: white;
 	}
div.cityInfo img{
	border: 3px solid white; 
}

div.gallery {
	margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 160px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width:160px;
    height: 120px;
    /* height: auto; */
}

div.desc {
    padding: 15px;
    text-align: center;
}
div.story2{
	margin:10px;
}

img.scenepic {
	float: left;
	/* margin: 70px 10 px; */
	border-style: solid;
	border-color: gray;
}

header {
	background-repeat: no-repeat;
	font-family: cursive;
	font-size: 35px;
	text-shadow: 3px 2px gray;
	/*background-color: #d6d3ca;*/
	/* background-image: url("/images/imageedit_1_9741139575.jpg"); */
	/* background-size: 100%; */
	border-bottom-style:solid;
	border-color:white;	
	color:#52545e;
	
}

h1 {
	text-align: center;
}

img.citypix{
	width:360px;
    height: 320px;
	
}
img.scenicpic {
	max-width: 320px;
	height: 107px;
	opacity: 0.5;
	float: left;
	border-style:solid;
	border-color:white;
}

img.scenicpic2 {
	max-width: 320px;
	height: 107px;
	opacity: 0.5;
	float: right;
	border-style:solid;
	border-color:white;
}

footer {
	text-align: center;
}
footer a{
	color:white;
	text-decoration:none;
}

p span{
	margin-left:20px;
}